head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover')
  meta(name='format-detection' content='telephone=no')
  meta(name='format-detection' content='date=no')
  meta(name='format-detection' content='address=no')
  meta(name='format-detection' content='email=no')
  meta(name='google' content='notranslate')
  title #{pageTitle || ''}
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
  link(rel='stylesheet' href='css/style.min.css')
