head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover')
  meta(name='format-detection' content='telephone=no')
  meta(name='format-detection' content='date=no')
  meta(name='format-detection' content='address=no')
  meta(name='format-detection' content='email=no')
  meta(name='google' content='notranslate')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title #{pageTitle || ''}
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
  meta(property='og:image:width' content='1200')
  meta(property='og:image:height' content='630')
  meta(property='og:title' content='Ginger Grandpa')
  meta(property='og:description' content='Дизайн и веб разработка')
  meta(property='og:url' content='https://webistomin.github.io')
  meta(property='og:image' content='https://webistomin.github.io/img/sharing/fb-image.jpg')
  meta(property='vk:image' content='https://webistomin.github.io/img/sharing/vk-image.jpg')
  link(rel='stylesheet' href='css/style.min.css')
