<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= repositoryId %></title>
</head>
<body>
  <h1>Build №<%= repositoryId %></h1>

  <h2>Commit hash:</h2>
  <p><%= hash %></p>

  <h3>Start:</h3>
  <time><%= new Date(start).toLocaleString() %></time>

  <h3>End:</h3>
  <time><%= new Date(end).toLocaleString() %></time>

  <h3>Status:</h3>
  <em><%= status %></em>

  <h3>Build command:</h3>
  <u><%= command %></u>

  <h3>Result:</h3>
  <% for (var i in result) { %>
    <pre><%= result[i] %></pre>
  <% } %>
</body>
</html>
